.GlobalActivitiesFilter {
    position: relative;
}

.GlobalActivitiesFilter .filter-dropdown {
    position: absolute;
    top: 100%;
    left: 30;
    width: 220;
    z-index: 1050;
    background: #ffffff;
    border-radius: 4px;
}

.GlobalActivitiesFilter .filter-dropdown .ListGroup {
    max-height: 300px;
    overflow-y: auto;
}

.filter-dropdown.hide {
    display: none;
}

.filter-dropdown.show {
    display: block;
}