* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    max-width: 30rem;
    margin: 0 auto;
}

@media (min-width: 40rem) {
    h1 {
        font-size: 5rem;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin-left: 10px;
}

.logo-text:hover {
    color: #007bff;
}

.Navigation {
    width: 100%;
}

.Navbar {
    width: 100%;
    padding: 20px;
}