.Navigation .nav-link {
    color: white !important; /* Asegura que el color blanco se aplique */
    text-decoration: none;
 padding-right: 30px !important; 

}

.Navigation .nav-link:hover {
    color: #ccc; /* Opcional: un color más claro para el hover */
}
.nav-links-group a {
    color: white !important;
    text-decoration: none;
    font-size: 25px;
    margin: 0 50px; /* Ajusta la distancia horizontal */
}

.nav-links-group a:hover {
    color: #ccc !important;
}
.navbar .nav-link{
      padding-right: 30px;
}