.ActivityDetailsPage {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.header h1 {
    flex: 1;
    margin: 0;
    font-size: 2rem;
}

.image-container {
    flex-shrink: 0;
    margin-left: 20px;
    position: relative;
}

.buttons-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.assist-button {
    padding: 10px;
}

.ActivityDetailsPage .card {
    background-color: #1f1d2468;
    color: white
}

.module {

    margin: 0 0 1em 0;
    overflow: hidden;
}

.module p {
    margin: 0;
}

.Hearts {
    position: absolute;
    bottom: 70px;
    right: 10px;
    cursor: pointer;
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.Hearts:hover {
    transform: scale(1.1);
}

.container .nav-tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .nav-tabs .nav-link {
    color: black;
    font-weight: bold;
}

.container .nav-tabs .nav-link.active {
    color: black;
    background-color: #f8f9fa;
    border-color: #dee2e6 #dee2e6 #f8f9fa;
}

.text-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-container .header h1 {
    margin: 0;
}

.text-container .header Button {
    margin-left: 10px;
}

.assistant-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 10px;
}

.assistants-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assistant-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .text-container {
        order: 1;
        text-align: center;
    }

    .image-container {
        order: 2;
    }


    .buttons-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}