.footer {
    background-color: #313131;
    margin-top: auto;
   
    height: auto;
}

.footer p {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 3px;

}

.footer h4 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 20px;

}

.footer-info {
    display: flex;
    justify-content: center;
}

.footer-info .col-xs-6,
.footer-info .col-md-6,
.footer-info .col-sm-6 {
    padding: 100;

}

.footer-info ul {
    padding: 0;
    list-style-type: none;
}

.footer-info a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;

}

.footer-info a:hover {
    text-decoration: underline;

}

.social-buttons button {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-buttons h4 {
    margin-top: 10px;

}