body {
    background-color: white;
    margin: 0;
    color: black;
}

.fullscreen-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    box-sizing: border-box;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.fullscreen-carousel {
    height: 50vh;
    width: 100%;
}

.fullscreen-carousel .carousel-inner,
.fullscreen-carousel .carousel-item {
    height: 100%;
}

.fullscreen-carousel .carousel-item {
    display: flex;
}

.fullscreen-carousel .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.activity-cards {
    height: auto;
    width: 100%;
    padding: 2vh 0;
    box-sizing: border-box;
}

.activity-cards .container-fluid {
    height: auto;
}

.activity-cards .row {
    height: auto;
}

.activity-cards .col {
    padding: 0;
}

.activity-card {
    border-radius: 10px;
    overflow: hidden;
}

.activity-card img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .header {
        height: 30vh;
        padding-bottom: 1vh;
    }

    .icon-container {
        flex-wrap: wrap;
    }

    .icon-item img {
        width: 15vw;
    }

    .fullscreen-carousel {
        height: 40vh;
    }

    .activity-cards {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}